APP_NAME=Todo Modulith API
APP_ENV=production

DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5432/todo_db

REDIS_URL=redis://:password@127.0.0.1:6379/0

SECRET_KEY=your-super-secret-production-key-here

MAX_REQUEST_SIZE_MB=5242880 #5mb

ALGORITHM=HS256
JWT_ISSUER=todo-modulith-api
JWT_AUDIENCE=todo-modulith-client
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080

RATE_LIMIT="100/minute" 
