# Poetry specific files
.venv/
/dist/
/poetry.toml

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Environment variables (secret keys)
.env

# IDE settings
.vscode/
.idea/
